<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <h1>จองโรมแรมสบายๆ</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum, libero earum? Provident nobis error inventore? Corrupti nulla a dicta est?</p>
    <form action="">
        <input type="text" placeholder="ชื่อ"><br>
        <input type="text" placeholder="นามสกุล"><br>
        <input type="text" placeholder="ที่อยู่"><br>
        <input type="text" placeholder="เบอร์ติดต่อ"><br>
        <input type="text" placeholder="เงินเดือน"><br>
        <button type="submit">click here</button>
    </form>
</body>
</html>